simulation/questasim/work
*.wlf
transcript
*.bak
*.tcl~
rng_fpga_design/qsys/.qsys_edit
rng_fpga_design/qsys/system/synthesis
rng_fpga_design/qsys/system/system.cmp
rng_fpga_design/qsys/system/system_bb.v
rng_fpga_design/qsys/system/system_generation.rpt
rng_fpga_design/qsys/system/system_generation_previous.rpt
rng_fpga_design/qsys/system/system_inst.v
rng_fpga_design/qsys/system/system_inst.vhd
rng_fpga_design/quartus/c5_pin_model_dump.txt
rng_fpga_design/quartus/db
rng_fpga_design/quartus/hps_isw_handoff
rng_fpga_design/quartus/system.sopcinfo
rng_fpga_design/quartus/rng_fpga_design.qws
rng_fpga_design/quartus/hps_sdram_p0_summary.csv
rng_fpga_design/quartus/output_files/
rng_fpga_design/quartus/incremental_db/
rng_fpga_design/generated_files/
*.rpt
*.html
sd_image
gcc-linaro-arm-linux-gnueabihf-4.9-2014.09_linux
*.o

*.html

*.rpt

sd_realises/

*.rbf
